@import "tailwindcss";

@theme {
  --font-sans: Poppins;
  --font-serif: "Dancing Script";
  --color-bgBlack: #262626;
  --color-bgGray: #343434;
  --color-textWhite: #fbf9ff;
  --color-primaryRed: #a63446;
  --color-secondaryYellow: #f6a93b;
  --color-accentBlue: #55d6be;
  --animate-slideDown: slide-down 1s ease forwards;
  --animate-notification: show-notification 0.4s ease forwards,
    close-notification 0.5s ease 2.5s forwards;
  --animate-timer-animation: timer-animation 2s ease 0.2s forwards;
}

@layer base {
  input {
    @apply bg-none px-2 py-1 outline-none border-b-2 transition-colors duration-100 focus:border-[#596A95] border-gray-400;
  }
  select {
    @apply cursor-pointer;
  }
  option {
    @apply bg-bgGray text-textWhite;
  }
}

@layer utilities {
  .animate-slideDown {
    animation-name: slide-down;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes show-notification {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes close-notification {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-700px);
    display: none;
  }
}

@keyframes timer-animation {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

body {
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  color: #fbf9ff;
  background-color: #262626;
  padding-bottom: 100px;
}

.active::after {
  display: block;
  background-color: #000;
  content: "";
}

.swiper {
  width: 100%;
  max-width: 800px;
  height: 550px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f6a93b !important;
}

.swiper-pagination-bullet-active {
  background-color: #f6a93b !important;
}

#pet-card-title {
  clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
}

.pet-btn:hover .button-span {
  transform: translateX(100%);
}

.header-ul > li {
  opacity: 0;
}

.header-ul li:nth-child(1) {
  animation-delay: 0s;
}

.header-ul li:nth-child(2) {
  animation-delay: 0.2s;
}

.header-ul li:nth-child(3) {
  animation-delay: 0.4s;
}

.header-ul li:nth-child(4) {
  animation-delay: 0.6s;
}

.header-ul li:nth-child(5) {
  animation-delay: 0.8s;
}

@media screen and (max-height: 600px) {
  .nav-menu {
    top: 50px;
  }
}
