@import "tailwindcss";

@theme {
  --font-sans: Poppins;
  --font-serif: "Dancing Script";
  --color-bgBlack: #262626;
  --color-bgGray: #343434;
  --color-textWhite: #fbf9ff;
  --color-primaryRed: #a63446;
  --color-secondaryYellow: #f6a93b;
  --color-accentBlue: #55d6be;
  --animate-notification: show-notification 0.4s ease forwards,
    close-notification 0.5s ease 2.5s forwards;
  --animate-timer-animation: timer-animation 2s ease 0.2s forwards;
}

@layer base {
  input {
    @apply bg-none px-2 py-1 outline-none border-b-2 transition-colors duration-100 focus:border-[#596A95] border-gray-400;
  }
  option {
    @apply bg-bgGray text-textWhite;
  }
}

@keyframes show-notification {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes close-notification {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-700px);
    display: none;
  }
}

@keyframes timer-animation {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

body {
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  color: #fbf9ff;
  background-color: #262626;
  padding-bottom: 100px;
}

#pet-card-title {
  clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
}

.pet-card {
  background: linear-gradient(90deg, #292929 15%, #303030 49%, #292929 91%);
}

.pet-btn:hover .button-span {
  transform: translateX(100%);
}
